@media screen {

  html {
    background: #bfbfbf !important;
  }

  body {
    margin: 0 !important;
    padding: 4rem 0 !important;
    background: transparent !important;
  }
   
  .pagedjs_page {
    background: #ffffff !important;
    margin: 0 auto 4rem !important;
    border: 10px solid red !important;
    box-shadow: 0 0 0 10px blue !important;
  }
}
