<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

     <style>
          .grid{
              display: grid;
              grid-template-columns: 45% 55%;
              grid-template-rows: 1fr;
              column-gap: 20px;
          }
        @media screen and (max-width: 992px){
         .grid{
            grid-template-columns: 1fr;
         }
        }
      </style>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ site.baseurl }}">Home</a>
              </li>
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        
        <div class="container mx-auto px-2 mt-3 clearfix header-text">
            <h1 class="h0 inline-block header-title">{{ site.title }}</h1>  
        
          <div class="grid">  
          <div class="grid-item" style="border-bottom-style:none;border-bottom:none;border-bottom:0;">
              <img src="avatar_light.png" width="100%" style="border-bottom-style:none;border-bottom:none;border-bottom:0;margin-bottom:0;padding-bottom:0;" />
            </div>
              <div class="grid-item">    
            <h1 class="h2 lh-condensed font-smoothing" style="padding-top:0;margin-top:0;">{{ site.description }}</h1>
                <p>based in Istanbul, Turkey, focusing on facilitation & training, program management, value-based impact assessment, and storytelling. 
                Experienced in participatory leadership, project management, impact evaluation, facilitation, and event designing. 
                B.A. in <a href="https://sosyoloji.gsu.edu.tr/en" target="_blank">Sociology</a>, 
                and M.A. in <a href="https://ects.gsu.edu.tr/en/program/index/50" target="_blank">Strategic Communication Management</a>. 
                Fluent in Turkish, English, and French. Drummer.</p>
            <p style="line-height:2.25rem;">
              <img src="slash.svg" style="vertical-align:middle;" /> Currently <span style="color:tomato;font-weight:800;">not</span> open to work<br> 
              <img src="briefcase.svg" style="vertical-align:middle;" /> Coordinator at <a href="https://www.tekfen.com.tr/en/tekfen-foundation" target=_blank>TEKFEN Foundation</a><br> 
              <img src="download.svg" style="vertical-align:middle;" /> Download CV<br>
              <img src="mail.svg" style="vertical-align:middle;" /> Contact
            </p>
              </div>
          </div> 
            </div>
      </header>
      <div class="container mx-auto px-2 mt-3 clearfix">
         <h2 class="h2 lh-condensed font-smoothing" style="padding-top:0;margin-top:0;">Previous positions</h2>
<img src="school.png" style="width:100%;" />
        
<p style="line-height:2.25rem;">
<img src="briefcase.svg" style="vertical-align:middle;" /> Coordinator at TEKFEN Foundation, Istanbul, 2024-today.<br>
<img src="user.svg" style="vertical-align:middle;" /> Advisor, Impact Assessment & Storytelling, Heart Mind Design, Istanbul, 2019-2024.<br>
<img src="user.svg" style="vertical-align:middle;" /> Consultant, Tura Technology & Consulting, Istanbul, 2019-2020.<br>
<img src="user.svg" style="vertical-align:middle;" /> Consultant, KODA-Köy Okulları Değişim Ağı, Istanbul, 2019-2020.<br>
<img src="user.svg" style="vertical-align:middle;" /> Consultant, 451 Derece İletişim, Istanbul, 2019.<br>
<img src="briefcase.svg" style="vertical-align:middle;" /> Program Coordinator, Mercator-IPC Fellowship, Sabancı University, Istanbul, 2013-2018.<br> 
<img src="briefcase.svg" style="vertical-align:middle;" /> Training Programs Officer, Sabancı University, Istanbul, 2009-2013.<br>
<img src="briefcase.svg" style="vertical-align:middle;" /> Project Assistant, Piri Group, Istanbul, 2009.<br>
<img src="briefcase.svg" style="vertical-align:middle;" /> Research Assistant, TÜSİAD EU-Brussels Representative Office, Istanbul, 2007.
</p>

      </div>
      <div class="container mx-auto px-2 mt-3 clearfix">
         <h2 class="h2 lh-condensed font-smoothing" style="padding-top:0;margin-top:0;">Education</h2>
<img src="school.png" style="width:100%;" />
        
<p style="line-height:2.25rem;">
<img src="hat.svg" height="32px" style="vertical-align:middle;" /> Master of Arts (M.A.) in Strategic Communication Management, Galatasaray University, Istanbul, 2019.<br>
<img src="award.svg" height="28px" style="vertical-align:middle;" /> <i>The Art of Gathering</i> by <a href="https://course.priyaparker.com/" target="_blank">Priya Parker</a><br>   
<img src="award.svg" height="28px" style="vertical-align:middle;" /> Social Return on Investment (SROI) Accredited Practitioner Training, Institute for Social Value, 2019.<br>
<img src="award.svg" height="28px" style="vertical-align:middle;" /> Leading in the Digital Age, LEAD Forward, 2017.<br>
<img src="award.svg" height="28px" style="vertical-align:middle;" /> Professional Programme on Participatory Leadership, Art of Hosting, European Forum Alpbach, 2016.<br>
<img src="award.svg" height="28px" style="vertical-align:middle;" /> Dimensions of Teacher Policy e-learning Course, The World Bank Group, 2012.<br>
<img src="hat.svg" height="32px" style="vertical-align:middle;" /> Bachelor of Arts (B.A.) in Sociology, Galatasaray University, Istanbul, 2008.<br>
<img src="award.svg" height="28px" style="vertical-align:middle;" /> European Union Certificate Program, Galatasaray University, 2004.<br>
<img src="hat.svg" height="32px" style="vertical-align:middle;" /> The American Robert College of Istanbul, 2003.
</p>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
