<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

     <style>
          .grid{
              display: grid;
              grid-template-columns: 45% 54%;
              grid-template-rows: 1fr;
              column-gap: 20px;
          }
        @media screen and (max-width: 992px){
         .grid{
            grid-template-columns: 1fr;
         }
        }
      </style>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ site.baseurl }}">Home</a>
              </li>
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        
        <div class="container mx-auto px-2 mt-3 clearfix header-text">
            <h1 class="h0 inline-block header-title">{{ site.title }}</h1>  
        
          <div class="grid">  
          <div class="grid-item" style="border-bottom:none;border-bottom:0;">
              <img src="avatar_heavy.png" width="100%" style="border-bottom:none;border-bottom:0;margin-bottom:0;padding-bottom:0;" />
            </div>
              <div class="grid-item">    
            <h2 class="h2 lh-condensed font-smoothing" style="padding-top:0;margin-top:0;">{{ site.description }}</h2>
                <p>based in Istanbul, Turkey, focusing on facilitation & training, program management, value-based impact assessment, and storytelling. Experienced in participatory leadership, project management, impact evaluation, facilitation, and event designing. B.A. in <a href="https://sosyoloji.gsu.edu.tr/en" target="_blank">Sociology</a>, and M.A. in <a href="https://ects.gsu.edu.tr/en/program/index/50" target="_blank">Strategic Communication Management</a>. Drummer.</p>
            <p style="line-height:2.5rem;"><img src="slash.svg" style="vertical-align:middle;" /> Currently <b>not</b> open to work<br> 
                    <img src="briefcase.svg" style="vertical-align:middle;" /> Coordinator at <a href="https://www.tekfen.com.tr/en/tekfen-foundation" target=_blank>TEKFEN Foundation</a><br> 
                    <img src="download.svg" style="vertical-align:middle;" /> Download CV<br>
                    <img src="mail.svg" style="vertical-align:middle;" /> Contact</p>
              </div>
          </div> 
            </div>
      </header>
      <div class="container mx-auto px-2 mt-3 clearfix">
         <h2 class="h2 lh-condensed font-smoothing" style="padding-top:0;margin-top:0;">Education</h2>
<img src="school.png" style="width:100%;" />
        
<p>
Master of Arts (M.A.) in Strategic Communication Management, Galatasaray University, Istanbul, 2019.<br>
Certification: Social Return on Investment (SROI) Accredited Practitioner Training, Institute for Social Value, 2019.<br>
Certification: Leading in the Digital Age, LEAD Forward, 2017.<br>
Certification: Professional Programme on Participatory Leadership, Art of Hosting, European Forum Alpbach, 2016.<br>
Certification: Dimensions of Teacher Policy e-learning Course, The World Bank Group, 2012.<br>
Bachelor of Arts (B.A.) in Sociology, Galatasaray University, Istanbul, 2008.<br>
Certification: European Union Certificate Program, Galatasaray University, 2004.<br>
High school degree from the American Robert College of Istanbul, 2003.
</p>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
