<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h1 class="h0 inline-block py-2 mt-4 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <!-- <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p> -->
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>

      <div class="container mx-auto px-2 py-2">

<div class="py-2 mb-2 prose">
  <h2 class="h1 lh-condensed col-9 mb-0">
    <span class="link-primary">Organizational Consultant</span>
  </h2><br>
  <p>I help organizations unlock their collective intelligence by designing participatory 
    processes, measuring impact, and telling their transformation stories.</p>
  <p>Based in Istanbul, I bring over 15+ years of experience across academia, civil society, 
    and consultancy. My work combines program design, facilitation, impact assessment, 
    and storytelling to help organizations create meaningful and lasting change.</p>
<p style="line-height:2.25rem;">
      Learn more about <a href=" {{ site.baseurl }} /about" target="_blank">my background</a><br>
      Explore how we can <a href=" {{ site.baseurl }} /services" target="_blank">collaborate</a>
    </p>
</div>
        
</div>

      <div class="container mx-auto px-2 py-2">
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>

<!-- 
    <style>.grid{display:grid;grid-template-columns:45% 55%;grid-template-rows:1fr;column-gap:20px;} @media screen and (max-width:992px){.grid{grid-template-columns:1fr;}}</style>
<div class="grid">
  <div class="grid-item">
    <img src="avatar_light.png" width="100%"/> 
  </div>
  <div class="grid-item">
    <p>I help organizations unlock their collective intelligence by designing participatory processes, measuring impact, and telling their transformation stories.</p>
    <p>Based in Istanbul, I bring over 15+ years of experience across academia, civil society, and consultancy. My work combines program design, facilitation, impact assessment, and storytelling to help organizations create meaningful and lasting change.</p>
    <p style="line-height:2.25rem;">
      Learn more about <a href=" {{ site.baseurl }} /about" target="_blank">my background</a><br>
      Explore how we can <a href=" {{ site.baseurl }} /services" target="_blank">collaborate</a>
    </p>
  </div>
</div>
-->        

    
